services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - db

  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: phpmyadmin
      MYSQL_DATABASE: camagru
      MYSQL_USER: phpmyadmin
      MYSQL_PASSWORD: phpmyadmin
    volumes:
      - ./mysql_data:/var/lib/mysql
    # ports:
    #   - "3306:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    restart: always
    depends_on:
      - db  
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: phpmyadmin
    ports:
      - "8080:80"
